* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: vars.$primary-color;
    /* ___fonts___ */
    font-family: "Nunito";
    color: vars.$secondary-color;
    font-size: 1.1rem;
    h3 {
        font-size: 1.5rem;
    }
    img {
        max-width: 1200px;
    }
}
