@font-face {
    font-family: "Nunito";
    src: url(./contents/fonts/Nunito-Regular.ttf);
    /* swap : permet d'afficher immédiatement le texte avec une police de substitution pendant que la police personnalisée se charge (améliore les perfomances) */
    font-display: swap;
}
$primary-color: #260933;
$secondary-color: #C9A7D8;
$alt-color: #D62E2A;
$text-color: white;
.lightmode {
    --primary-color: #e1ceeb;
    --secondary-color: #400e57;
    --alt-color: #D62E2A;
    --text-color: black;
}
