* {
	box-sizing: border-box;
}

body {
	font-family: "Avenir", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #222;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.2rem;
}

a {
	color: royalblue;
	text-decoration: none;
}

header,
footer {
	text-align: center;
}

main {
	width: 90%;
	margin: 0 auto;
}

article {
	max-width: 600px;
	display: grid;
	gap: 1rem;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	border: 1px solid #DDD;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;

	h3,
	p {
		margin: 0.5rem 0;
	}
}

button {
	background-color: #DDD;
	border: 1px solid #CCC;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin: 0 0.25rem;
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

.fa-solid {
	font-size: 1.2rem;
}

.fa-trash-can {
	color: #C00;
}