@font-face {
    font-family: 'QSand';
    src: url(../assets/Quicksand-Regular.ttf);
}
:root {
    --main-color: #835da1;
    --secondary-color: #e63460;
    --third-color: #e0dbdb;
    --background-color: #f1eded;
    --main-text-color: #1f1f1f;
    --secondary-text-color: #5e5d5d;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: 'QSand';
}

/* ___NAVBAR___ */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 1px 3px var(--third-color);
    background-color: var(--background-color);
    z-index: 1000;
    .cart-icon,
    .logo {
        margin: 0 3rem;
    }
    .logo {
        text-decoration: none;
        color: var(--main-color);
        font-weight: bold;
        font-size: 1.3rem;
    }
    svg {
        fill: var(--main-text-color);
    }
    .cart-icon{
        position: relative;
        span {
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: var(--secondary-color);
            font-size: 0.7rem;
            color: white;
            padding: 0.2rem;
            border-radius: 50%;
        }
    }
    .cart-icon:hover {
        cursor: pointer;
    }
}

/* ___VITRINE___ */
.products-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    div.products-card {
        position: relative;
        /* border: solid 1px var(--third-color); */
        box-shadow: 0 3px 3px var(--third-color);
        border-radius: 20px;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    figcaption,
    .product-price,
    a {
        margin-left: 2.5rem;
    }
    figcaption {
        font-weight: bold;
    }
    .product-price {
        color: var(--main-color);
        font-weight: bold;
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        color: var(--secondary-text-color);
    }
    img {
        max-width: 300px;
        border-radius: 20px;
    }
    .plus-button {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 50%;
        background-color: var(--main-color);
        svg {
            fill: white;
        }
    }
    .plus-button:hover {
        cursor: pointer;
    }
}

/* ___PANIER___ */
.cart {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    max-width: 500px;
    padding: 2rem;
    box-shadow: -3px 2px 3px var(--third-color);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    button:hover {
        cursor: pointer;
    }
    .cart-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px var(--third-color);
        .close-btn {
            position: relative;
            border: none;
            background-color: var(--third-color);
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 5px;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            svg {
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }
    }
    .cart-total {
        text-align: right;
        font-weight: bold;
        font-size: 1.5rem;
        border-top: solid 1px var(--third-color);
        padding-top: 1rem;
        margin-top: 1rem;
    }
    .checkout-btn {
        width: 100%;
        padding: 0.5rem;
        color: white;
        font-size: 1.5rem;
        border: none;
        background-color: var(--secondary-color);
        border-radius: 5px;
    }
}

.cart-closed {
    right: -100%;
    transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* ___ARTICLES AJOUTES AU PANIER___ */
.cart ul {
    list-style: none;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;
    li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        .item-mini {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .cart-item-title {
                font-size: 0.9rem;
                color: var(--main-text-color);
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            .cart-item-price {
                font-size: 0.75rem;
                color: var(--secondary-text-color);
            }
        }
        img {
            width: 4rem;
            height: auto;
            border-radius: 5px;
            margin-right: 1rem;
        }
        button {
            border: none;
            border-radius: 5px;
            width: 1.5rem;
            height: 1.5rem;
        }
        .quantity {
            color: var(--main-text-color);
            background-color: var(--third-color);
        }
        .remove {
            color: white;
            background-color: var(--secondary-color);
            margin-left: 1rem;
        }
    }
}
